<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Start</th>
      <th scope="col">End</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of hours">
      <td>{{item.startDate | date:'yyyy-MM-dd HH:mm'}}</td>
      <td>{{item.endDate | date:'yyyy-MM-dd HH:mm'}}</td>
    </tr>
  </tbody>
</table>