<div class="card">
  <h5 class="card-header">{{title}}</h5>

  <div class="card-body">

    <div class="form-group">
      <div class="input-group">
        <input class="form-control"
               placeholder="yyyy-mm-dd"
               name="dp" [(ngModel)]="delegate.date"
               ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">Select</button>
        </div>
      </div>
    </div>

  	<div class="form-group">
    	<ngb-timepicker [(ngModel)]="delegate.time"></ngb-timepicker>
  	</div>
  </div>
</div>