<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-3">
		<app-date-time [title]="'Start'" [delegate]="startDateTime"></app-date-time>
	</div>
	<div class="col-sm-3">
		<app-date-time [title]="'End'" [delegate]="endDateTime"></app-date-time>
	</div>
	<div class="col-sm-3"></div>
</div>
<div class="row" style="min-height: 20px;"></div>
<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
		<button type="button" class="btn btn-danger float-left">Cancel</button>
		<button type="button" class="btn btn-success float-right" (click)="save()">Save</button>
	</div>
	<div class="col-sm-3"></div>
</div>